<!DOCTYPE html>
<html lang="en">

  <!-- HEAD -->
  
  <%- include('./partials/head',{tituloWeb: 'Register Fence'}  ) %>
  
 
 <!-- HEAD 
<head>
   <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Register Fence</title>
   <link rel="stylesheet" href="/css/main.css" />
   <link rel="stylesheet" href="/css/styles.css" />
   <link rel="stylesheet" href="/css/styles-register.css" />
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
   <script>
   function validar(){
   if(document.getElementById("password").value == document.getElementById("password-verify").value){
   document.getElementById("password-verify").style.backgroundColor="#e6851e"
   document.getElementById("password-error-message").innerHTML="Las contraseñas coinciden"
   }
   else{
   document.getElementById("password-verify").style.backgroundColor="#fad85b"
   document.getElementById("password-error-message").innerHTML="Las contraseñas no coinciden"
   }
   }</script>
   </head>
  -->

  <body class="register">

     <!-- HEADER -->

    <%- include('./partials/header') %>

    <main class="principal">
    <img src="/images/vallas-teatro.jpg" width=600px class="imagen-ingreso">

      <!-- login-->
    <section class="caja-formulario">
      <div class="texto-bienvenida">Ingrese sus datos para poder utilizar nuestra plataforma</div>

      <form action="/users/register" method="POST" class="formulario-register" enctype="multipart/form-data">

        <div class="control-formulario">
          <label for="name">Nombre</label>
          <input  type="text" 
                  name="nombre" 
                  id="name" 
                  class="control"
                  value="<%= locals.oldData ? oldData.name : null %>" 
                  >
          <% if (locals.errors && errors.nombre) { %>
            <div class="text-danger">
              <%= errors.nombre.msg %> 
            </div>
          <% } %>
        </div>
        <br>
       
        <div class="control-formulario">
          <label for="empresa">Apellido</label>
          <input  type="text" 
                  name="apellido" 
                  id="empresa" 
                  class="control"
                  value="<%= locals.oldData ? oldData.apellido : null %>"
                  >
                  <% if (locals.errors && errors.apellido) { %>
                    <div class="text-danger">
                      <%= errors.apellido.msg %> 
                    </div>
                  <% } %>
        </div>
        <br>

        <div class="control-formulario">
          <label for="cuit">Categoria</label>
          <input  type="text" 
                  name="categoria" 
                  id="cuit" 
                  class="control"
                  value="<%= locals.oldData ? oldData.categoria : null %>"
                  >
                  <% if (locals.errors && errors.categoria) { %>
                    <div class="text-danger">
                      <%= errors.categoria.msg %> 
                    </div>
                  <% } %>
        </div>
        <br>

        <div class="control-formulario">
          <label for="email">Email</label>
          <input  type="email" 
                  name="email" 
                  id="email" 
                  class="control"
                  value="<%= locals.oldData ? oldData.email : null %>"
                  >
                  <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                      <%= errors.email.msg %>
                    </div>
                  <% } %>
                </div>
                <br>
        
        <div class="control-formulario">
          <label for="file">Agrega una imagen</label>
          <input  type="file" 
                  name="file" 
                  id="file" 
                  class="form-control <%= locals.errors && errors.file ? 'is-invalid' : null %>"
                  >
                  <% if (locals.errors && errors.file) { %>
                    <div class="text-danger">
                      <%= errors.file.msg %>
                    </div>
                  <% } %> 
                      </div>
                      <br>

        <div class="control-formulario">
          <label for="password">Contraseña</label>
          <input  type="password" 
                  name="password" 
                  id="password" 
                  class="control" 
                  required minlenght="8"
                  >
                  <% if (locals.errors && errors.password) { %>
                    <div class="text-danger">
                      <%= errors.password.msg %>
                    </div>
                  <% } %>
        </div>
        <br>

        <div class="control-formulario">
          <label for="password-verify">Repita la contraseña</label>
          <input  type="password" 
                  name="password-verify" 
                  id="password-verify" 
                  class="control" 
                  onblur="validarPassword()">
        </div>

        <div> <span id="password-error-message"></span></div>
        <br>

        <button type="submit" class="button" id="btn-form">Ingresar</button>
      </form>
    </section>



    </main>

     <!-- FOOTER -->

    <%- include('./partials/footer') %>
    <script>
      function validarPassword(){
       let firstPassword = document.getElementById('password').value;
       let passwordVerify = document.getElementById('password-verify').value;
       if(firstPassword != passwordVerify){
         alert('Las contraseñas no coinciden');
       } 
      }
    </script>
    <script src="js/register-validation.js"></script>
  </body>
</html>
