<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head", {tituloWeb: "Listado de productos"}) %>

  <body class="product-list">
    <%- include("./partials/header") %>

    <main class="product-List">
      <aside class="options-container">
        <ul>
          <li><a href="/products/createProduct"> Crear producto</a></li>
          <li><a href="/products">Listado de productos</a></li>
         
        </ul>
      </aside>
      <div class="pl-productos-container">
        <% for(let i=0; i < productos.length; i++) { %>
          <a href="/products/<%=productos[i].id  %> ">
            
        <article class="pl-product">
          <img
            src="<%=productos[i].imagen  %>"
            alt=""
            class="pl-product-image"
          />
          <div class="pl-product-description">
            <h5 class="pl-product-title"><%=productos[i].nombre %></h5>
            <p>$<%=productos[i].precio %></p>
            <a href="/newProduct" class="pl-product-add-to-cart">Modificar</a>

              <form action="/products/<%=productos[i].id%> ?_method=DELETE" method="POST" >
            <button class="pl-product-add-to-cart" value="<%=productos[i].id%>">Eliminar</button>
          </form>
          </div>
        </article>
      </a>
        <% } %> 
      </div>
    </main>

    <%- include("./partials/footer") %>
  </body>
</html>
