<!DOCTYPE html>
<html lang="en">
  <!-- HEAD  -->

  <%- include('./partials/head', {tituloWeb: 'productos Fence'} ) %>

  <body>
    <!-- HEADER -->

    <%- include('./partials/header') %>

    <main class="product-detail">
      <p class="page-index">Productos / Título de productos</p>
      <div class="product-detail-container">
        <h1><%=productos.nombre%> </h1>
       
        <p>
         $ <%=productos.precio%> 
        </p>
        <details class="detalles-container">
          <summary>Detalles</summary>
          <p>
            <%=productos.descripcion  %> 
          </p>
          <p>
           <%= productos.id_categoria %> 
          </p>
          <p>
            <%= productos.material %> 
           </p>
        </details>
        <figure>
          <img src="<%= productos.imagen  %> " alt="" />
        </figure>
      </div>

      <div class="actions-container">
        <div class="share-container">
          <h3>Compartir</h3>
          <div class="icons">
            <div class="icon">
              <a target="_blank" href="https://facebook.com"
                ><i class="fab fa-facebook"></i
              ></a>
            </div>
            <div class="icon">
              <a target="_blank" href="https://twitter.com">
                <i class="fab fa-twitter"></i
              ></a>
            </div>
            <div class="icon">
              <a target="_blank" href="https://linkedin.com"
                ><i class="fab fa-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="add-to-cart-container">
          <input type="number" name="cantidad" id="cantidad-productos" />
          <button class="button">Agregar</button>
        </div>
      </div>
      <div class="products-container">
        <h3>Productos Relacionados</h3>
        <div class="products-cards-container">
          <% for(i =0; i< productos.length; i++) {%> 
          <div class="product">
            <img src="<%= productos[i].imagen  %> " alt="" class="product-image" width="200" height="150" />
            <div class="product-description">
              <h7 class="product-title"><%= productos[i].nombre  %> </h5>
                <br>
              <button class="button">Agregar</button>
            </div>
          </div>
          <% } %>       
        </div>
      </div>
    </main>

    <!-- FOOTER -->

    <%- include('./partials/footer') %>
  </body>
</html>
